<h1>All Swappers</h1>
<% @users.each do |user| %>
    <div class="list">
    <%= link_to user.username.titleize, user %>
    Has <%= pluralize user.public_shelf.length, "book" %> to swap
    </div>
<% end %>
