<h1>All Books to Swap</h1>

<ul>
<h3>Avaliable Books to Borrow</h3>
<% @books.each do |book| %>
    <li><%= link_to book.title, book %>, has <%= pluralize book.potential_swappers.length, 'Swapper' %></li>
<% end %>
</ul>

<h3>Don't see one you want?</h3>
<%= link_to "Add to the swapping collection", new_book_path %>
